<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Movies</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
   <%-include("_navbar")%>

      <div class="container">

         <div class="my-3">
            <a href="/movies/add" class="btn btn-primary">Add Movies</a>
         </div>
         <nav class="navbar navbar-light bg-light">
            <form action="/movies" method="get" class="form-inline d-flex">
               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q"
                  value="<%=q||''%>">
               <button class=" btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
         </nav>


         <table class="table  table-striped">
            <thead>
               <tr class="table-info">
                  <th scope="col">Name</th>
                  <th scope="col">Release year</th>
                  <th scope="col">Genre</th>
                  <th scope="col">Production House</th>
                  <th scope="col">Action</th>
               </tr>
            </thead>
            <tbody>

               <% dataMovies.forEach((movie)=> {%>

                  <tr>
                     <th scope="row">
                        <%=movie.name%>
                     </th>
                     <td>
                        <%= movie.released_year %>
                     </td>
                     <td>
                        <%= movie.genre%>
                     </td>
                     <td>
                        <%= movie.productionHouseName %>
                     </td>

                     <td>
                        <a href="/movies/<%= movie.id %>" class="btn btn-success">Read</a>
                        <a href="movies/edit/<%= movie.id %>" class="btn btn-warning">Edit</a>
                        <a href="movies/delete/<%= movie.id %>" class="btn btn-danger">Delete</a>
                     </td>
                  </tr>
                  <% }); %>



            </tbody>
         </table>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
         crossorigin="anonymous"></script>
</body>

</html>